@import "~react-toolbox/lib/commons";

$break-large: 850px;

.content {
  position: absolute;
  right: 0;
  top: 9.5 * $unit;
  padding-right: 1 * $unit;
  color: $color-text-secondary;
  font-size: $font-size-tiny;
  text-transform: lowercase;
  @media (max-width: 850px) {
    position: initial;
    padding-right: 0;
    text-align: center;
    margin-bottom: 2 * $unit;
  }
  > p {
    width: 20 * $unit;
    margin-bottom: 1 * $unit;
    @media (max-width: 850px) {
      width: 40 * $unit;
      margin: auto;
    }
  }
}
