@import "~react-toolbox/lib/commons";

.content {
  margin: $unit * 0.5 auto 2rem;
  width: 400px;
  .autocomplete {
    padding: 0;
  }
  .card-actions {
    padding-top: 0;
  }
  .win-rate {
    line-height: 3.6rem;
    padding: 0 0.8rem;
    color: #58D1C1;
    font-size: $font-size;
    font-weight: $font-weight-semi-bold;
    .percent {
      font-weight: $font-weight-bold;
    }
  }
}
