.GameplayView {
  label {
    width: 75px;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    text-align: right;
  }

  .player-title {
    font-size: 115%;
  }

  .option {
    margin-right: 15px;
  }

  .option.clickable {
    cursor: pointer;
    text-decoration: underline;
  }

  .option.selected {
    font-weight: bold;
    font-size: 110%;
  }

  .info-block {
    margin-bottom: 20px;
  }

  button {
    margin-top: 10px;
    font-size: 115%;
    cursor: pointer;
  }

  .random-states {
    .hand {
      display: inline-block;
      min-width: 100px;
    }

    .option {
      margin-right: 3px;
    }

    > .option {
      margin: 10px;
    }
  }
}
