html, body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.Guide {
  table {
    width: 100%;
  }

  .Scenario {
    margin: 0;
    padding: 5px;
    border: 1px solid black;
  }

  textarea.results {
    width: 100%;
  }
}
