@import "~react-toolbox/lib/base";
@import "~react-toolbox/lib/app_bar/config";

$title-font-size: 1.8 * $unit;

%title-text {
  font-weight: $font-weight-thin;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.appbar {
  margin-top: 3 * $unit;
  background-color: #1E2225;

  > .title {
    text-align: center;
    width: 100%;

    > h1 {
      @extend %title-text;
      font-size: $title-font-size;
    }
    > div {
      @extend %title-text;
      font-size: 1.23rem;
    }
  }
}
